.sections-nav {
	display: flex;
	justify-content: center;
  // flex-direction: row;
	border-bottom: 1px solid lightgrey;
	position: relative;
  padding: 10px 0 10px 0;
  

  ul {
    display: flex;
    padding: 10px 5;
  }

  li {
    margin: 0 5px;
  }

  ul li:not(:last-child) { //yaaay!
    a:hover {
      background: $light-gray;
    }
  }

  li:last-of-type {
    text-transform: uppercase;

    a:hover {
      text-decoration: underline;
    }
  }
  
}





